################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RedisTutorial/obj/x86/Debug
/RedisTutorial/bin/Debug
/.vs/RedisTutorial/v15
